# Archivos y directorios específicos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
.env
.venv
venv/
ENV/

# Archivos específicos de macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Archivos de empaquetado
*.dmg
*.app

# Archivos IDE/editores
.idea/
.vscode/
*.swp
*.swo

# Logs y bases de datos
*.log
*.sqlite
